@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  display: flex;
  font-family: 'Poppins';
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}
.user-form {
  margin-bottom: 20px;
}

.user-form input {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
}

.user-form input:focus {
  border-color: #333;
}

.user-form input::placeholder {
  color: #bbb;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.card .avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.info {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 20px;
}

.info li {
  font-size: 1.1rem;
}

.info li strong {
  color: #333;
}

/* Repo Styles */
#repos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.repo {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.repo:hover {
  background-color: #555;
}
